<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="home.php" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <add connectionString="server=localhost;database=surfowav_sharephp;uid=surfowav;pwd=51s5ENEI3Aam" name="surfowav_sharephp" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
